@font-face{
    font-family:'Roboto-Regular';
    src: url(../fonts/inter/Roboto-Regular.ttf) format('truetype');
}

@font-face{
    font-family:'Roboto-Bold';
    src: url(../fonts/inter/Roboto-Bold.ttf) format('truetype');
}

